name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]



env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
       matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash # fixes mingw things on windows
    steps:
    - uses: actions/checkout@v4
    # install alsa rust bindings on the ubuntu runner
    - name: Install librust-alsa-dev
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install librust-alsa-dev
    # build x86-pc-windows-gnu on windows
    - name: Set build target on Windows
      if: matrix.os == 'windows-latest'
      run: echo "CARGO_BUILD_TARGET=x86_64-pc-windows-gnu" >> "$GITHUB_ENV"
    # build cmdjewel with cargo
    - name: Build
      run: cargo build --verbose --release
    # upload builds named after each runner (the linux one is cmdjewel-ubuntu-latest, built on ubuntu-latest)
    - uses: actions/upload-artifact@v4
      with:
        name: cmdjewel-${{ matrix.os }}
        path: |
          target/release/cmdjewel
          target/release/cmdjewel.exe
