name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]



env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
       matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    # install alsa rust bindings on the ubuntu runner
    - name: Install librust-alsa-dev
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install librust-alsa-dev
    # build cmdjewel with cargo
    - name: Build
      run: cargo build --verbose --release
    # upload builds named after each runner (the linux one is cmdjewel-ubuntu-latest, built on ubuntu-latest)
    - uses: actions/upload-artifact@v4
      with:
        name: cmdjewel-${{ matrix.os }}
        path: |
          target/release/cmdjewel
          target/release/cmdjewel.exe
  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash # fixes mingw things on windows
    steps:
    - uses: actions/checkout@v4
    # build cmdjewel with cargo
    - name: Build
      run: cargo build --verbose --release --target=x86_64-pc-windows-gnu
    # upload builds named after each runner (the linux one is cmdjewel-ubuntu-latest, built on ubuntu-latest)
    - uses: actions/upload-artifact@v4
      with:
        name: cmdjewel-windows-latest
        path: |
          target/x86_64-pc-windows-gnu/release/cmdjewel
          target/x86_64-pc-windows-gnu/release/cmdjewel.exe
